@model GeneratorData
@{
    ViewData["Title"] = "Action";
}

<h1>Action Injection</h1>

@using (Html.BeginForm("Index", "ActionInjection"))
{
    @Html.DropDownList("GeneratorType", Model.GeneratorList, "select generator");

    <input type="submit" value="get" formmethod="get" />
    <input type="submit" value="post" formmethod="post" />


}

@if (Model.Generator != null)
{

    <h1>@Model.Generator.GetType().Name created</h1>
    <p>@Model.Generator.CreateAnimal().Status</p>
    <p>@Model.Generator.CreatePlant().Status</p>
    <p>@Model.Generator.CreateUnderground().Status</p>

}